---
layout: default
title: Star of the North DanceSport Classic
base_url: './'
---


<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{{ page.base_url }}img/logo.png" alt="Star of the North DanceSport Classic">
      </div>
      <div class="col-12">
        <p class="lead text-center">High energy. Low stress. A dance competition should be fun.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>
  <div class="row comp-meta">
    <div class='col-12 col-sm-4'>
      <h3><i class='icon-calendar'></i> Happening:</h3>
      <p>1-2 March 2014<br><small>(Saturday &amp; Sunday)</small></p>
    </div>
    <div class='col-12 col-sm-4'>
      
      <h3><i class='icon-map-marker'></i> Here:</h3>
      {% include address.html %}
    </div>
    <div class='col-12 col-sm-4'>
      
      <h3><i class='icon-star'></i> Newcomer?</h3>
      <p>New to ballroom competitions? Check out our <a href="{{ page.base_url }}guide">friendly guide</a>.</p>
    </div>
    <!-- <div class='col-12 col-sm-6'> -->
      <!-- <i class='icon-thumbs-up-alt'></i> -->
      <!-- <h3>Pumped for Blast?</h3> -->
      <!-- <p>You'll probably love <a href="http://www.sotncomp.com">Star of the North</a> too.</p> -->
    <!-- </div> -->
  </div>
</div>

<div class="container">
  <div class="row"><div class="col-12"><hr></div></div>

  <div class='row get-involved push'>
    <div class="col-12">
      <h1 class='push'>Get Involved!</h1>
    </div>
    <div class="col-12 col-sm-4">
      <a href='{{ page.base_url }}register' class='btn btn-huge btn-blue-bubble btn-block push'>Register</a>
    </div>
    <div class="col-12 col-sm-4">
      <a href='{{ page.base_url }}spectate' class='btn btn-huge btn-blue-bubble btn-block push'>Spectate</a>
    </div>
    <div class="col-12 col-sm-4">
      <a href='{{ page.base_url }}volunteer' class='btn btn-huge btn-blue-bubble btn-block push'>Volunteer</a>
    </div>
  </div>
</div>
<!-- {% include mission.html %} -->

<div class="container">
  {% include schedule.html %}
<!--   <div class="row">
    <div class='col-12'> 
      <h2>Here's What to Expect:</h2>
      <p class='lead'>
        All day, dancers perform in the format of a dance competition and receive feedback from experienced ballroom professionals. There'll be fun dances, games, and giveaways, as well as makeup and jewelry vendors to help participants look fantastic.
      </p>
      <p class='lead'>
        In the evening session, enjoy games, social dancing, spotlight dances, and performances by national championship-level dancers.
      </p>
    </div>
  </div> -->
</div>

