---
layout: default
title: Dance Fest
base_url: './'
---

<div class="team-match-img">
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>

<div class="sponsors">
  <div class="container">
    <div class='row push'>
      <div class="col-12">
        <h4 class='push'>Brought to you by the professional dance community of the Twin Cities and:</h4>
      </div>
      <div class="col-12 col-sm-6">
        <img src="{{ page.base_url }}img/bdc-logo.png">
      </div>
      <div class="col-12 col-sm-6">
        <img src="{{ page.base_url }}img/upartnerdance-logo.png">
      </div>
    </div>
  </div>
</div>

<div class="mission">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="">Please join us for Dance Fest 2017!</h2>
      </div>
      <div class="col-12">
        <p class="lead">Now in a 22,000 square feet venue in the heart of downtown St. Paul and with $15,000 in scholarship and gifts, Dance Fest will be bigger and better than ever! Registration is now open, and available <a href="{{ page.base_url }}register">here</a>. Don't forget to check out all the details about the event, as several of the rules have changed from years past.
      </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row comp-meta">
    <div class='col-12 col-sm-4'>
      <h3><i class='icon-calendar'></i> Happening:</h3>
      <p>4-5 March 2017<br><small>(Saturday &amp; Sunday)</small></p>
    </div>
    <div class='col-12 col-sm-4'>

      <h3><i class='icon-map-marker'></i> Here:</h3>
      {% include address.html %}
      <p class="muted"><small>(pictured below and <a href="{{ page.base_url }}img/union-depot.jpg">here</a>)</small></p>
    </div>
    <div class='col-12 col-sm-4'>

      <h3><i class='icon-star'></i> Newcomer?</h3>
      <p>New to ballroom competitions? Check out our <a href="{{ page.base_url }}guide">friendly guide</a>.</p>
    </div>
  </div>
  <div class="row comp-meta">
      <div class="">&nbsp;</div>

  </div>
</div>

<div class="union-depot-img">
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class='row get-involved push comp-meta'>
    <div class="col-12">
      <h1 class='push'>Get Involved!</h1>
      <!--<p class="lead">Registration is closed. Contact the registrar if you need changes to your registration: <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</p>-->
    </div>
    <div class="col-12 col-sm-6">
      <a href='{{ page.base_url }}register' class='btn btn-huge btn-blue-bubble btn-block push'>Register</a>
      <p>Registration closes February 20th at 11:59pm.</p>
    </div>
    <div class="col-12 col-sm-6">
      <a href='{{ page.base_url }}spectate' class='btn btn-huge btn-blue-bubble btn-block push'>Spectate</a>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class='row get-involved push'>
    <div class="col-12">
      <h1 class='push'>Volunteer!</h1>
      <p class="lead">
        Dance Fest is made possible by the hard work of dozens of volunteers. If you want to contribute your time and skills to help make Dance Fest awesome, fill out this form and we'll help you get involved!
      </p>
    </div>
    <div class="col-12 col-sm-6">
      <a href='https://docs.google.com/forms/d/10p-8uuXHgITTc69SEJ_vtLKZHPqjCQ_rOgLyAsefsOk/viewform' class='btn btn-huge btn-blue-bubble btn-block push'>Volunteer</a>
    </div>
    <div class="col-12">
      <h1 class='push'>Looking for a Close Hotel?</h1>
      <p class="lead">
        The Day's Inn is less than a mile away from Dancers Studio. Get your room for $74 per night when you ask for the group <strong>U Dance Fest</strong> and use the confirmation code <strong>94943933</strong>.
      </p>
    </div>
  </div>
</div>-->


<div class="container">
  <!-- {% include schedule.html %} -->
</div>