---
layout: default
title: Dance Fest
base_url: './'
---

<div class="sponsors">
  <div class="container">
    <div class='row push'>
      <div class="col-12">
        <h4 class='push'>Brought to you by the professional dance community of the Twin Cities and:</h4>
      </div>
      <div class="col-12 col-sm-6">
        <img src="{{ page.base_url }}img/bdc-logo.png">
      </div>
      <div class="col-12 col-sm-6">
        <img src="{{ page.base_url }}img/upartnerdance-logo.png">
      </div>
    </div>
  </div>
</div>

<div class="mission">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="lead">Thanks for joining us for Dance Fest 2015!</p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="">Check out all 20,000 photos taken by our top-notch photographers <a href="https://www.flickr.com/photos/udancefest/sets/72157648947769534/">here</a>. These are super-high-resolution and royalty-free, so enjoy them! (The photos may not all be showing yet. We're uploading as fast as we can!)</p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="">For reference, here are <a href="{{ page.base_url }}files/2015-dance-fest-program.pdf">the 2015 program</a> and <a href="https://docs.google.com/spreadsheets/d/10AtIyiHnr8pmztNIQ2qR2rqmgFDDnmbCnxQxO4dC2vw/edit?usp=sharing">all judges' marks</a>. We look forward to seeing you at Dance Fest 2016!
      </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row comp-meta">
    <div class='col-12 col-sm-4'>
      <h3><i class='icon-calendar'></i> Happening:</h3>
      <p>5-6 March 2016<br><small>(Saturday &amp; Sunday)</small></p>
    </div>
    <div class='col-12 col-sm-4'>

      <h3><i class='icon-map-marker'></i> Here:</h3>
      {% include address.html %}
    </div>
    <div class='col-12 col-sm-4'>

      <h3><i class='icon-star'></i> Newcomer?</h3>
      <p>New to ballroom competitions? Check out our <a href="{{ page.base_url }}guide">friendly guide</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class='row get-involved push'>
    <!-- <div class="col-12">
      <h1 class='push'>Get Involved!</h1>
      <p class="lead">Registration is closed. Contact the registrar if you need changes to your registration: <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</p>
    </div>
    <div class="col-12 col-sm-6">
      <a href='{{ page.base_url }}register' class='btn btn-huge btn-blue-bubble btn-block push'>Register</a>
    </div>
    <div class="col-12 col-sm-6">
      <a href='{{ page.base_url }}spectate' class='btn btn-huge btn-blue-bubble btn-block push'>Spectate</a>
    </div> -->
  </div>
</div>

<div class="container">
  <div class='row get-involved push'>
    <!-- <div class="col-12">
      <h1 class='push'>Volunteer!</h1>
      <p class="lead">
        Dance Fest is made possible by the hard work of dozens of volunteers. If you want to contribute your time and skills to help make Dance Fest awesome, fill out this form and we'll help you get involved!
      </p>
    </div> -->
    <!-- <div class="col-12 col-sm-6">
      <a href='https://docs.google.com/forms/d/10p-8uuXHgITTc69SEJ_vtLKZHPqjCQ_rOgLyAsefsOk/viewform' class='btn btn-huge btn-blue-bubble btn-block push'>Volunteer</a>
  </div> -->
    </div>
</div>

<div class="container">
  <!-- {% include schedule.html %} -->
</div>
