---
layout: default
title: "Register"
slug: register
base_url: "../"
---

<div class="container register">
  <div class="row">
    <div class="col-12">
      <h1>Register</h1>
    </div>
    <div class="col-12">
      <p class="lead">Registration opens fall 2014.</p>
      <p class="lead">Have a question? Ask. <a href="mailto:fest@upartnerdance.org">fest@upartnerdance.org</a>.</p>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Pricing</h3>
      <ul class='icons-ul'>
        <li><i class='icon-li icon-usd'></i>All prices are are per person unless otherwise noted.</li>
        <li><i class='icon-li icon-usd'></i>All competitors receive unlimited amateur and MP event entries, admission to all sessions, and a program.</li>
        <li><i class='icon-li icon-usd'></i>If you are dancing only MP and only as the more proficient partner, your event entries are free and you may spectate at all sessions for free.</li>
        <li><i class='icon-li icon-usd'></i>A student is anyone who is under the age of 18 or has a valid college ID.</li>
      </ul>
      <p>&nbsp;</p>
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Adult</th>
            <th>Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Competitors</th>
            <td><i class='icon-usd'></i> 80</td>
            <td><i class='icon-usd'></i> 40</td>
          </tr>
          <tr>
            <th>Admission to one session</th>
            <td colspan='2'><i class='icon-usd'></i> 10</td>
          </tr>
          <tr>
            <th>Program</th>
            <td colspan='2'><i class='icon-usd'></i> 5 each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Limits</h3>
      <ul class='icons-ul'>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter each event only once.</li>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter up to 2 consecutive proficiency levels per style.</li>
        <li><i class='icon-li icon-ban-circle'></i>You may not dance mixed proficiency and amateur with the same partner.</li>
      </ul>
    </div>
  </div>
  <div class="row"><div class="col-12"><hr></div></div>
  <div class="row">
    <div class="col-12">
      <h2>Available Events</h2>
      <h3>Ballroom and Latin</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Smooth</th>
            <th>Standard</th>
            <th>Rhythm</th>
            <th>Latin</th>
          </tr>
        </thead>
        <tbody>
          <tr class='warning'>
            <th colspan="5">Syllabus Events</th>
          </tr>
          <tr>
            <th>Newcomer</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Bronze</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Advanced Bronze</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Silver</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Gold</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr class='warning'>
            <th colspan="5">Open Events</th>
          </tr>
          <tr>
            <th>Pre-Championship</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Championship</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Viennese Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero<br>
                  Mambo
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Paso Doble<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr class='warning'>
            <th colspan="5">Mixed Proficiency Events</th>
          </tr>
          <tr>
            <th>Newcomer</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Advanced</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
                <li><i class="icon-li icon-ok-sign"></i>Bolero</li>
                <li><i class="icon-li icon-ok-sign"></i>Mambo</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Paso Doble</li>
                <li><i class="icon-li icon-ok-sign"></i>Jive</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-12 col-sm-6">
      <h3>Strictly Dances</h3>
      <table class='table table-bordered table-striped table-hover'>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Argentine Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Hustle</li>
                <li><i class="icon-li icon-ok-sign"></i>Lindy Hop</li>
                <li><i class="icon-li icon-ok-sign"></i>Salsa</li>
                <li><i class="icon-li icon-ok-sign"></i>West Coast Swing</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Jack and Jill Dances</h3>
      <p>There is no pre-registration for Jack and Jill events. Everyone present during these events may participate.</p>
      <table class='table table-bordered table-striped table-hover'>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Salsa</li>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>West Coast Swing</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Team Matches</h3>
      <p>Enter 3 couples in a team match. Each couple dances one dance.</p>
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th>American</th>
            <th>International</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Foxtrot<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Samba
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>

  {% include travel-advice.html %}
  <div class="row">
    <div class="col-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
  {% include schedule.html %}

</div>
