---
layout: default
title: "Register"
slug: register
base_url: "../"
---

<div class="container register">
  <div class="row">
    <div class="col-12">
      <h1>Register</h1>
    </div>
    <div class="col-12">
      <p class="lead">Registration closes February 20th at 11:59pm.</p>
      <p class="lead">Most dancers will use only the Amateur Registration form. Instructions are included in the form. Have a question? Ask. <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <a href='https://docs.google.com/forms/d/e/1FAIpQLSdp6nlH8rP57vZlKet8l5zjNTwkagTBZmUKSEWB_ZU7jkttQA/viewform?entry.163288442&entry.436987801&entry.850715143&entry.720322129&entry.711164169&entry.1970693743&entry.625108748=Yes,+I%27d+like+news+and+updates+about+MN+Ballroom+Blast+and+U+Dance+Fest.' class='btn btn-huge btn-blue-bubble btn-block push'>Amateur Registration</a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPhTh4SAv-MBjj0XGwrlQRuZ5I3QMyhgkZBkOTS6bBJbdtSQ/viewform?entry.163288442&entry.436987801&entry.850715143&entry.720322129&entry.711164169&entry.1970693743&entry.1725459666=Yes,+I'd+like+news+and+updates+about+MN+Ballroom+Blast+and+U+Dance+Fest." class='btn btn-huge btn-blue-bubble btn-block push'>Mixed Proficiency Registration</a>
    </div>
    <div class="col-12 col-sm-6">
      <a href='https://docs.google.com/forms/d/e/1FAIpQLSf3AzOloNGU30v2vxekGGHrvPPa_YRMfqgDEzQUt4vZGZ81lw/viewform' class='btn btn-huge btn-blue-bubble btn-block push'>Team Match Registration</a>
    </div>
    <div class="col-12 col-sm-6">
      <a href='{{ page.base_url }}files/Dance_Fest_2017_Team_Registration.xlsx' class='btn btn-huge btn-blue-bubble btn-block push'>Group Registration</a>
      <p class="text-muted">Handy if you want to register your whole team in one batch. Download this spreadsheet, fill it out, and send it to <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</p>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Pricing</h3>
      <ul class='icons-ul'>
        <li><i class='icon-li icon-usd'></i>All prices are per person unless otherwise noted.</li>
        <li><i class='icon-li icon-usd'></i>All competitors receive unlimited amateur and Mixed Proficiency event entries, admission to all sessions, and a program.</li>
        <li><i class='icon-li icon-usd'></i>If you are dancing only Mixed Proficiency and only as the more proficient partner, your event entries are free and you may spectate at all sessions for free.</li>
        <li><i class='icon-li icon-usd'></i>If you are only dancing in one event and that event is Mixed Proficiency, your event entry and ticket to that session are free.</li>
        <li><i class='icon-li icon-usd'></i>A student is anyone who is under the age of 18, has a valid college ID, or is an alumnus currently affiliated with a student group</li>
        <li><i class='icon-li icon-usd'></i>Lodging with University students and/or financial assistance is available for schools that would experience financial hardship.  Financial assistance is awarded on a case-by-case basis. For more information, please contact us at <a href="mailto:info@upartnerdance.org">info@upartnerdance.org</a>.</li>
      </ul>
      <p>&nbsp;</p>
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Adult</th>
            <th>Student</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Competitors</th>
            <td><i class='icon-usd'></i> 80</td>
            <td><i class='icon-usd'></i> 40</td>
          </tr>
          <tr>
            <th>Spectator admission to one session</th>
            <td colspan='2'><i class='icon-usd'></i> 10</td>
          </tr>
          <tr>
            <th>Program</th>
            <td colspan='2'><i class='icon-usd'></i> 5 each</td>
          </tr>
          <tr>
            <th>Team Match</th>
            <td colspan='2'><i class='icon-usd'></i> 30 per team</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Limits</h3>
      <ul class='icons-ul'>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter each event only once.</li>
        <li><i class='icon-li icon-ban-circle'></i>Each person may enter up to 2 consecutive proficiency levels per style.</li>
        <li><i class='icon-li icon-ban-circle'></i>You may not dance mixed proficiency and amateur with the same partner.</li>
        <li><i class='icon-li icon-ban-circle'></i>A Note for college teams: we will make exceptions to these limitations on a case-by-case basis in order for all members of your team to dance as much as is possible. Please contact our registration at info@upartnerdance.org for any assistance.</li>
        <li><i class='icon-li icon-ban-circle'></i>Costumes are allowed in Silver and Above. No Costumes will be allowed in Newcomer, Beginning Bronze or Advanced Bronze. This will be strictly enforced.</li>
      </ul>
    </div>
  </div>
  <div class="row"><div class="col-12"><hr></div></div>
  <div class="row">
    <div class="col-12">
      <h2>Available Events</h2>

      <h3>Ballroom and Latin</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th></th>
            <th>Smooth</th>
            <th>Standard</th>
            <th>Rhythm</th>
            <th>Latin</th>
          </tr>
        </thead>
        <tbody>
          <tr class='warning'>
            <th colspan="5">Syllabus Events</th>
          </tr>
          <tr>
            <th>Newcomer</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Bronze</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Advanced Bronze</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Silver</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Gold</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr class='warning'>
            <th colspan="5">Open Events</th>
          </tr>
          <tr>
            <th>Novice</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Pre-Championship</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Championship</th>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Foxtrot<br>
                  Viennese Waltz
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Viennese Waltz<br>
                  Foxtrot<br>
                  Quickstep
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Cha Cha<br>
                  Rumba<br>
                  Swing<br>
                  Bolero<br>
                  Mambo
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Samba<br>
                  Cha Cha<br>
                  Rumba<br>
                  Paso Doble<br>
                  Jive
                </li>
              </ul>
            </td>
          </tr>
          <tr class='warning'>
            <th colspan="5">Mixed Proficiency Events</th>
          </tr>
          <tr>
            <th>Newcomer</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Advanced</th>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Viennese Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>Foxtrot</li>
                <li><i class="icon-li icon-ok-sign"></i>Quickstep</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Swing</li>
                <li><i class="icon-li icon-ok-sign"></i>Bolero</li>
                <li><i class="icon-li icon-ok-sign"></i>Mambo</li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Samba</li>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Rumba</li>
                <li><i class="icon-li icon-ok-sign"></i>Paso Doble</li>
                <li><i class="icon-li icon-ok-sign"></i>Jive</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-12 col-sm-6">
      <h3>Strictly Dances</h3>
      <table class='table table-bordered table-striped table-hover'>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Argentine Tango</li>
                <li><i class="icon-li icon-ok-sign"></i>Hustle</li>
                <li><i class="icon-li icon-ok-sign"></i>Lindy Hop</li>
                <li><i class="icon-li icon-ok-sign"></i>Salsa</li>
                <li><i class="icon-li icon-ok-sign"></i>West Coast Swing</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Jack and Jill Dances</h3>
      <p>There is no pre-registration for Jack and Jill events. Everyone present during these events may participate.</p>
      <table class='table table-bordered table-striped table-hover'>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li><i class="icon-li icon-ok-sign"></i>Cha Cha</li>
                <li><i class="icon-li icon-ok-sign"></i>Salsa</li>
                <li><i class="icon-li icon-ok-sign"></i>Waltz</li>
                <li><i class="icon-li icon-ok-sign"></i>West Coast Swing</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Team Matches</h3>
      <p>For College and High Schools only. Enter 3 couples in a team match. Each couple dances one dance. Entry is $30 per team. Mupltiple teams can enter from the same organization. Top 12 teams in each team match recieve $200 in scholarship!</p>
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th>American</th>
            <th>International</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Foxtrot<br>
                  Rumba<br>
                  Swing
                </li>
              </ul>
            </td>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Waltz<br>
                  Tango<br>
                  Samba
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Exhibition Dances</h3>
      <p>Perform in the evening session with any number of dancers.</p>
      <table class='table table-bordered table-striped table-hover'>
        <tbody>
          <tr>
            <td>
              <ul class='icons-ul'>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  $250 per performance
                </li>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  Performance length is limited to 2.5 minutes
                </li>
                <li>
                  <i class="icon-li icon-ok-sign"></i>
                  All performing dancers must pay for entry to the ballroom
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>

  {% include travel-advice.html %}
  <div class="row">
    <div class="col-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
  {% include schedule.html %}

</div>
