---
layout: default
title: "Spectate"
slug: spectate
base_url: "../"
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Spectate!</h1>

      <p class='lead'></p>

      <p class='lead push'>Tickets for each session are $10. They are available with cash at the door the day of the event.</p>
    </div>
  </div>

  <div class="row"><div class="col-12"><hr></div></div>

  {% include travel-advice.html %}
  <div class="row">
    <div class="col-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
  {% include schedule.html %}
</div>
