---
layout: default
title: "Spectate"
slug: spectate
base_url: "../"
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Spectate!</h1>
      
      <p class='lead'></p>
      
      <p class='lead push'>Tickets for each session are $10 for adults, $5 for students. They'll be available online Fall 2013 or with cash at the door the day of the event.</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12 col-sm-6 push">
      <a href="http://www.verseng.com/-/star/2014/spectate" class='btn btn-blue-bubble btn-huge btn-block'>Buy Tickets Online</a>
    </div>
  </div>
 -->
  <div class="row"><div class="col-12"><hr></div></div>
  
  {% include travel-advice.html %}
  <div class="row">
    <div class="col-12">
      <hr>
      <h4 class='text-muted'>Just a reminder:</h4>
    </div>
  </div>
  {% include schedule.html %}
</div>
