<div class="mission">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Dance Fest is</h2>
        <p class='lead'>a low-cost, beginner-friendly dancesport competition where:</p>
        <hr>
        <ul class='icons-ul lead'>
          <li><i class='icon-li icon-star'></i>New competitors can see what dancesport is about in a local, friendly environment without breaking the bank</li>
          <li><i class='icon-li icon-star'></i>Spectators can enjoy the beautiful dancing and spectator-sport atmosphere of the competition, particularly during the evening show</li>
          <li><i class='icon-li icon-star'></i>Experienced competitors can compete against some of the nation’s best dancers in all styles and involve their local coaches for real-time feedback</li>
        </ul>
      </div>
    </div>
  </div>
</div>
