<div class="mission">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Dance Fest is</h2>
        <p class='lead'>a low-cost, beginner-friendly dancesport competition where:</p>
        <hr>
        <ul class='icons-ul lead'>
          <li><i class='icon-li icon-star'></i>Dancers and Spectators alike can enjoy an atmosphere of friendliness, comraderie, and fun unlike any competition in the Midwest</li>
          <li><i class='icon-li icon-star'></i>New Competitors can see all that dancesport has to offer in a friendly, welcoming atmosphere without breaking the bank.</li>
          <li><i class='icon-li icon-star'></i>Experienced competitors can compete against some of the nation's best dancers in all styles and levels</li>
          <li><i class='icon-li icon-star'></i>All competitors and spectators can sharpen their skills with free seminars held throughout the event</li>
        </ul>
      </div>
    </div>
  </div>
</div>
