<div class="row schedule">
  <div class="col-12">
    <h1>Schedule</h1>
  </div>
  <div class="col-12 col-sm-4">
    <h4>Saturday: Day Session</h4>
    <table class='table table-striped table-hover'>
      <tr>
	<th>9:00 AM</th>
	<td>Welcome!<br />Registration</td>
      </tr>
      <tr>
	<th>9:30 AM</th>
	<td>Latin Syllabus</td>
      </tr>
      <tr>
	<th>10:00 AM</th>
	<td>Seminar: American Foxtrot with Mariusz Olszewski</td>
      </tr>
      <tr>
	<th>12:00 PM</th>
	<td>Lunch Break</td>
      </tr>
      <tr>
	<th>1:00 PM</th>
	<td>Smooth Syllabus</td>
      </tr>
      <tr>
	<th>2:00 PM</th>
	<td>Seminar: International Cha Cha with Elena Bersten</td>
      </tr>
      <tr>
	<th>4:00 PM</th>
	<td>Seminar: Arm Styling with Jennifer Foster</td>
      </tr>
      <tr>
	<th>5:00 PM</th>
	<td>Dinner Break</td>
      </tr>
    </table>
  </div>
  <div class="col-12 col-sm-4">
    <h4>Saturday: Evening Session</h4>
    <table class='table table-striped table-hover'>
      <tr>
	<th>6:30 PM</th>
	<td>Welcome Back!<br />General Dancing</td>
      </tr>
      <tr>
	<th>7:30 PM</th>
	<td>Open Rhythm and Latin</td>
      </tr>
      <tr>
	<th>8:00 PM</th>
	<td>Open Smooth and Standard</td>
      </tr>
      <tr>
	<th>8:30 PM</th>
	<td>Team Events</td>
      </tr>
      <tr>
	<th>10:00 PM</th>
	<td>Good Night!<br />Remember to set your clocks forward for Daylight<br />Saving Time!</td>
      </tr>
    </table>
  </div>
  <div class="col-12 col-sm-4">
    <h4>Sunday: Day Session</h4>
    <table class='table table-striped table-hover'>
      <tr>
	<th>8:00 AM</th>
	<td>Good Morning!<br />Registration</td>
      </tr>
      <tr>
	<th>8:30 AM</th>
	<td>Rhythm Syllabus</td>
      </tr>
      <tr>
	<th>10:00 AM</th>
	<td>Seminar: International Foxtrot with Lisa Vogel Galvin</td>
      </tr>
      <tr>
	<th>12:15 PM</th>
	<td>Lunch Break</td>
      </tr>
      <tr>
	<th>1:00 PM</th>
	<td>Standard Syllabus</td>
      </tr>
      <tr>
	<th>2:00 PM</th>
	<td>Seminar: Hair and Makeup with Jana Rose Arts</td>
      </tr>
      <tr>
	<th>2:30 PM</th>
	<td>Strictly Dances</td>
      </tr>
      <tr>
	<th>3:30 PM</th>
	<td>Jack and Jill Dances</td>
      </tr>
      <tr>
	<th>4:00 PM</th>
	<td>Good Evening!<br />See you at Minnesota Ballroom Blast on October 24th</td>
      </tr>
    </table>
  </div>
</div>
