
<div class="row">
  <div class="col-12">
    <h1>Travel Advice</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <h3>Destination</h3>
    {% include address.html class='lead' %}
  </div>
  <div class="col-12 col-sm-6">
    <h3>Parking</h3>
    <p>
      The hotel has an attached covered garage with self-parking for $17.00 daily. Additionally, as the hotel is in downtown St. Paul, there is ample parking lot, ramp, and street parking within a few blocks of the venue.
    </p>
  </div>
</div>
