@import 'nib'

PRIMARY = darken(lighten(#BF0224, 10%), 20%)
SECONDARY = #00725D
TERTIARY = #2A6DB2

WHITE = #fff
BLACK = #010101
GRAY = #484848

bubble(COLOR)
  color white
  background linear-gradient(top, lighten(COLOR, 30%), COLOR)
  text-shadow 0 -1px 0 rgba(black, .6)
  &:hover
    background COLOR
  &:active
    background COLOR
    box-shadow inset 0 1px 3px rgba(black, .4)

// page setup
html, body
  height 100%

.wrapper
  // min-height 70%
  height auto !important
  // margin-bottom 40px

@media (min-width: 1200px)
  .container
    max-width 940px

// shared components
.push
  margin-bottom 20px

.btn-huge
  padding 14px
  font-size 18px

.btn-blue-bubble
  border-color lighten(BLACK, 30%)
  bubble(TERTIARY)

.icons-ul
  margin 0

// nav
.navbar
  // box-shadow 0 1px 2px rgba(black, .1)
  // background PRIMARY
  border-bottom 1px solid #f3f3f3
  // background #fcfcfc
  background #fff
  z-index 100
  min-height 30px
  a, li > a
    line-height 24px
    color #333
    &:hover
      color #888

  li.active > a
    color PRIMARY
    background-color rgba(WHITE, .3)
    &:hover
      color PRIMARY
      // color #888
      background-color rgba(WHITE, .5)

  .navbar-toggle
    border-color rgba(BLACK, .4)
    // relative top 20px left 0
    margin-top 20px
    &:hover
      background-color rgba(BLACK, .2)
    .icon-bar
      background-color rgba(BLACK, .6)

  .navbar-brand
    padding 8px 15px
    img
      max-width 100%
      height 36px

.navbar-static-top
  margin-bottom 0

// home jumbotron
.banner
  background url(../img/jean.png) top center
  box-shadow inset 0 -1px 3px rgba(black, .2)
  z-index 1
  padding-top 20px
  padding-bottom 10px

  .logo
    margin-top 10px

  img
    max-width 100%
    margin-bottom 20px
    relative top 0 left -2px

  .lead
    margin-top 10px
    background rgba(WHITE, .8)
    padding 8px 10px 8px 14px
    border-radius 5px
    color GRAY
    text-shadow 0 1px 0 #fff

// flashy meta
.comp-meta
  margin-top 30px

  font-size 1.2em

  > div
    padding-right 40px

  p, address
    max-width 430px

    color lighten(BLACK, 56%)

.comp-meta i
  color lighten(PRIMARY, 10%)

@media screen and (min-width: 400px)
  .navbar .navbar-brand
    max-width 500px

// big img
.team-match-img
  width 100%
  height 600px
  background url(../img/team-match-woo.jpg) no-repeat
  background-size cover
  background-position center
  // background-attachment fixed
.union-depot-img
  width 100%
  height 400px
  background url(../img/union-depot.jpg) no-repeat
  background-size cover
  background-position bottom
  background-attachment fixed

// mission
.mission
  padding 30px 0 50px 0

  color WHITE

  background PRIMARY

  text-shadow 0 -1px 0 rgba(black, .3)
  p
    letter-spacing .03em
    line-height 1.8
  a
    color lighten(PRIMARY, 80%)
  hr
    opacity .6
  ul
    margin 0

    font-size 15px
    font-weight 300

  li
    margin-bottom 10px

@media (min-width: 768px)
  .mission ul
    font-size 20px

// register
.register
  table ul
    margin 0
    padding-left 24px

  .icon-usd
    color #468847
  .icon-ban-circle
    color #b94a48

// schedule
.schedule
  th
    min-width 90px

// footer
.footer
  border-top 5px solid lighten(BLACK, 20%)
  // background url(../img/wall.png)
  // text-shadow 0 -1px 0 rgba(black, .5)
  padding 40px 0 60px 0

  color #333
  // a
  //   color lighten(saturate(TERTIARY, 60%), 60%)
  //   color lighten(saturate(TERTIARY, 60%), 60%)

.sponsors
  background url(../img/mast.png) top center
  border-bottom 1px solid #f3f3f3
  padding-top 28px
  // margin-bottom 30px
  h4
    margin-bottom 30px

  img
    max-width 100%
    margin-bottom 35px

.notice
  p.lead
    font-weight bold
    span
      margin-right 0.6em
  background url(../img/mast.png) top center
  border-bottom 5px solid PRIMARY
  padding-top 28px
  // margin-bottom 30px
  h4
    margin-bottom 30px

  img
    max-width 100%
    margin-bottom 35px

// for reference --------------------------------------
.declaration-order
  // Positioning
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 100

  // Box-model
  display block
  float right
  width 100px
  height 100px

  // Typography
  font normal 13px "Helvetica Neue", sans-serif
  line-height 1.5
  color #333
  text-align center

  // Visual
  background-color #f5f5f5
  border 1px solid #e5e5e5
  border-radius 3px

  // Misc
  opacity 1
